
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');


* {
    margin: 0 ;
    padding: 0 ;
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(to right , #FFCBFF, #C1D2DC);
    color: #fff;
    font-family: "Poppins", sans-serif;
}


    /* Header section  */

header {
    position: fixed;
    z-index: 999;
    margin-bottom: 5vh ;
    background-color: #adb5bd;
    color: #1d3557;
    /* border-bottom: 2px solid rgb(123, 13, 30); */
    box-shadow: 0 0 40px 0 rgba(123, 13, 30, 0.9);
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100vw ;
    height: 6% ;
}

.nav1 {
    padding: 20px 80px 0px;
}

.nav1 h1 {
    color: rgb(123, 13, 30);
    text-transform: uppercase;
    margin-top: 5px;
}

.nav2 {
    width: 40vw ; 
    padding: 20px 30px 20px;
    margin-right: 6vw ;
    margin-top: 9px;
}   

.nav2 h3 {
    font-weight: 500;
    transition: 0.3s ease;
}
.nav2 h3:hover {
    font-weight: 600;
}

.nav2 ul {
    display: flex;
    justify-content: space-around;
}

.nav2 ul li {
    list-style: none;
}

.nav2 ul li a {
    text-decoration: none;
    color: #1d3557;
    font-size: 18px;
}


    /* Home page  */


#home {
    /* background-image: linear-gradient(to right , #FFCBFF, #C1D2DC); */
    background-color: #dee2e6;
    height: 100vh ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.mainText {
    width: 60vw ;
    color: #1d3557;

}

.mainText h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.5em;
}

.mainText h2 span {
    color: rgb(123, 13, 30);
    font-size: 2em;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.mainText h3 {
    margin-top: 4vh;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

.btn-aboutme {
    background: transparent;
    opacity: 0.9;
    display: inline-block;
    color: #1d3557;
    border : 1px solid #000;
    margin-top: 4vh;
    margin-left: 23vw ;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

.btn-aboutme:hover {
    font-weight: 600;
}

.socials {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


.socials .icon .social-logo {
    width: 70px;
    margin-right: 40px;
}

 /* Headings of each section  */

.heading {
    font-size: 2rem;
    color: #202020;
    font-weight: 600;
    text-align: center;
    padding-top: 15vh;
}

.heading span {
    color: #7b0d1e;

}
.heading i {
    font-size: 2rem;
    padding-right: 5px;
}

.heading lord-icon {
    width: 25px;
    height: 25px;
} 

    /* About section  */

#aboutme {
    background-color: #ced4da;
    color: #1d3557 ;
    height: 180vh;
}


.about-content {
    width: 90vw ;
    height: 80vh;
    margin-left: 5vw ;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.about-text {
    max-width: 40%;
    min-height: 70%;
    color: #000; 
}

.about-text h3 {
    font-size: 1.7rem;
    padding-bottom: 2.5rem ;
    color: #1d3557;
}
.about-text p {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.yash-img {
    display: block;
    max-width: 450px;
    height: auto;
    border-radius: 10%;
}




    /* Skills section  */

#skills {
    height: 55vh ;
    background-color: #dee2e6;
}


.tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 13vh ;
    padding-bottom: 10vh;
}

.icon {
    font-size: 40px;
    color: #1d3557;
}

.skills-icon {
    height: 60px;
}


    /* Projects sections  */

#projects {
    display: none;
    height: 95svh;
    background-color: #dee2e6;
    color: #000 ;
}

.container-projects {
    height: 60vh;
    width: 90%;
    margin-top: 40px;
    margin-left: 5%;
    background-color: black;
}

.netflix-project {
    color: white;
    font-size: 40px;
}
marquee {
    height: 60vh;
    margin-left: 38%;
}

    /* Contact me  */

#contactme {
    height: 100vh ;
    background-color: #dbe9ee;
}



.container {
    width: 70%;
    background-color: #FFFAF1;
    border-radius: 1.5rem;
    margin: 2rem auto ;
    box-shadow: 0 5px 10px rgba(0 , 0, 0, 0.15);;
}

.container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 2rem ;
}

.content .img-box {
    max-width: 60%;
    margin-left: 3rem;
}
.content .img-box img {
    width: 100%;
    position: relative;
}


#contactme .container .content form {
    width: 50%;
    margin-right: 3rem;
}

form .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.form-group .field {
    height: 50px;
    position: relative;
    display: flex;
    margin: 1rem;
    width: 100%;
}
.form-group .message {
    position: relative;
    display: flex; 
    margin: 1rem;
    width: 100%;
    height: 50px;
}

form i {
    position: absolute;
    color: rgb(51, 51, 51);
    top: 50%;
    left: 18px;
    font-size: 17px;
    transform: translateY(-50%);
    pointer-events: none;
} 


.message i {
    top: 25px;
    font: 20px;
    left: 15px;
}
form .message textarea::-webkit-scrollbar {
    width: 0px;
}

form .field input , form .message textarea {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 16px 0 48px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 1px solid rgb(51, 51, 51);
    background: #dbe9ee;
}

form .message textarea {
    padding: 10px 16px 10px 48px;
    min-height: 100px;
}

.field input::placeholder , .message textarea::placeholder {
    color: rgb(51, 51, 51);
}

.field input:focus ,
.message textarea:focus{
  /* padding-left: 47px; */
  border: 2px solid #7b0d1e;
}
.field input:focus ~ i ,
.message textarea:focus ~ i{
  color: #7b0d1e;
}

form .button-area {
    display: flex;
    float: right;
    flex-direction: row-reverse;
    margin-left: 20px;
    margin-top: 9vh;
}

.button-area button {
    color: #fff;
    background-color: rgb(123, 13, 30);
    border: none ;
    outline: none ;
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 24px;
    box-shadow: 0px 5px 10px #8a0f21;
    transition: 0.3s ease;
}
.button-area button:hover {
    background-color: #b22f42;
}

.button-area button i {
    position: relative;
    top: 10px;
    left: 5px;
    font-size: 1.5rem;
    transition: 0.3s;
    color: #fff;
}

.button-area button:hover i{
    left: 8px;
}



  @media screen and (min-width: 360px) and (max-width: 740px) {

    /* header - navbar */
    .nav1 {
        padding: 30px 20px 10px;
    }
    .nav1 h1 {
        margin-bottom: 5px;
        margin-top: 0 ;
    }
    .nav2 {
        display: none;
    }

    /* home page section  */

    #home {
        flex-wrap: wrap;
        height: 90vh ;
    }
    .random-img {
        height: 400px;
        background-color: transparent;
    }
    .mainText {
        width: 100vw;
        margin-top: 13vh;
    }
    .mainText h2 span {
        font-size: 44px;
    }
    .mainText h3 {
        margin-top: 5vh;
        font-size: 0.9em;
        padding-bottom: 10px;
    }
    

    
    .socials {
        margin-top: 40px;
    }
    
    
    .socials .icon .social-logo {
        width: 60px;
        margin-right: 20px;
    }


    /* heading of all sections */

    .heading {
        padding-top: 15vh;
    }

    /* about me  */
    #aboutme {
        height: 210vh;
    }

    .about-content {
        margin-left: 0;
        padding-top: 30px;
    }

    .about-text {
        max-width: 80%;
    }
    .about-text h3 {
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .about-text p {
        font-size: 1.2rem;
    }
    .yash-img {
        max-width: 300px;
        margin-left: 35px;
    }

    /* skills section */

    #skills {
        height: 50vh;
    }
    .skills-icon {
        height: 40px;
        margin-right: 20px;
        padding-top: 20px;
        margin-left: 20px;
    }

    .tech {
        padding-top: 3vh ;
        padding-bottom: 30vh;
    }

    /* Projects section  */

    #projects {
        /* display: none; */
    }


    .netflix-project {
        font-size: 20px;
    }

    marquee {
        margin-left: 22%;
    }

    /* contactme section  */

    #contactme {
        height: 100vh;
    }
    
    .img-box {
        display: none;
    }
    .container {
        margin: 0 0 2rem 3rem;
        margin-top: 6vh;
        width: 80%;
        margin-left: 10%;
    }
    .container .content {
        padding: 20px 2px;
    }
    #contactme .container .content form {
        width: 80%;
        margin-right: 2rem;
      }

      .form-group .field {
        margin-left: 30px;
      }
      .form-group .message {
        margin-left: 30px;
      }

      .button-area button {
        font-size: 1rem;
        padding: 7px 15px;
      }

      form .button-area {
        margin-right: -28px;
      }
      .button-area button i {
        font-size: 1.1rem;

      }
      .button-area button:hover i{
        left: 6px;
      }
      form .button-area {
        margin-top: 10vh;
      }
    }
