
* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.2s linear;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*++++++++++++++++++++++++++++*/
/*       PRELOADER            */
/*++++++++++++++++++++++++++++*/

.preloader {
    position: fixed;
    top:0; right:0; bottom:0; left:0 ;
    z-index: 999 ;
    background-color: #fff ;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: 0.3s linear;
}


/*++++++++++++++++++++++++++++*/
/*        HEADER              */
/*++++++++++++++++++++++++++++*/

header {
    width: 100vw ;
    position: fixed;
    z-index: 99;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px ;
    background-color: transparent;
    box-shadow: 0 10px 30px #000;
    backdrop-filter: blur(5px) ;
}
.navbar h2 {
    padding-bottom: 5px ;
}
.navbar a {
    text-decoration: none;
    color: #fff ;
    text-transform: uppercase;
    font-weight: 700;
}
.nav-part{
    width: 60% ;
}
.nav-part ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
}
.nav-part ul li {
    list-style: none;
    margin-left: 30px ;
    font-size: 1rem ;
    font-weight: 700;
    padding-bottom: 5px ;
}
.underline-animation {
    display: inline-block;
    position: relative;
    color: rgb(193, 123, 50) ;
}
.underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(193, 123, 50) ;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* header media queries starts */
@media (max-width: 1140px ) {
    .navbar {
        align-items: flex-end;
        padding: 40px 100px 15px 20px ;
    }
    .nav-part {
        display: none ;
    }
}
/* header media queries ends  */


/*++++++++++++++++++++++++++++*/
/*        HOME                */
/*++++++++++++++++++++++++++++*/

#home {
    background-image: url("https://images.unsplash.com/photo-1484950763426-56b5bf172dbb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80");
    background-size: cover;
    filter: brightness(60%);
    height: 100vh ;
    color: #fff ;
}
.info {
    position: absolute ;
    top: 50% ; left: 50% ;
    transform: translate(-50%,-50%) ;
    padding: 30px 60px ;
    width: 80% ;
    padding-bottom: 200px ;
    text-align: center;
}
.info h2 {
    font-size: 2rem ;
    margin-bottom: 15px ;
}
.info h1 {
    font-size: 6rem ;
    text-align: center;
    margin-bottom: 20px ;
}
.info p {
    font-size: 2rem ;
}
.arrow {
    position: absolute;
    top: 90% ;
    right: 3% ;
}
.arrow a {
    text-decoration: none;
}
.arrow a i {
    color: #fff ;
    opacity: 0.5 ;
}
.arrow a i:hover {
    opacity: 1 ;
}

/* home media queries starts */
@media (max-width: 1140px) {

    .info {
        width: 100vw ;
        padding: 0 0 200px ;
    }
    .info h1 {
        font-size: 4rem ;
    }
    .info p {
        font-size: 1.5rem ;
    }
}
@media (max-width: 700px ) {
    .info h2 {
        font-size: 1.5rem ;
    }
    .info h1 {
        font-size: 3rem ;
    }
    .info p {
        font-size: 1rem ;
    }
    .arrow {
        top: 82% ;
    }
}
@media (max-width: 500px) {
    .info h2 {
        font-size: 1.2rem;
    }
    .info h1 {
        font-size: 2.5rem ;
    }
}
/* home media queries ends  */


/*++++++++++++++++++++++++++++*/
/*       SOCIALS              */
/*++++++++++++++++++++++++++++*/

.socials {
    position: fixed;
    top: 45% ;
    z-index: 99;
    display: flex;
    flex-direction: column;
}
.socials i {
    margin-top: 15px ;
    color: #fff ;
    font-size: 2rem ;
    opacity: 0.5;
    margin-left: 2px ;
}
.socials i:hover {
    transform: translateX(10px);
    opacity: 1;
    color: rgb(193, 123, 50) ;
}

/* social media queries starts */
@media (max-width: 700px) {
    .socials i:hover {
        transform: none ;
        opacity: 1;
    }
}
/* social media queries ends  */


/*++++++++++++++++++++++++++++*/
/*        ABOUT               */
/*++++++++++++++++++++++++++++*/

.about {
    /* background-color: black; */
    background-image: url("https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80") ;
    background-size: cover ;
    height: 100vh ;
}
.main-div {
    height: 100vh ;
    position: relative;
    z-index: 1;
    background-color: transparent ;
    bottom: 0 ;
    backdrop-filter: blur(3px);
}
.section-h2 {
    text-align: center;
    padding-top: 18vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lord-icon-h2 {
    height: 50px ; width: 50px ;
}
.section-h2-content {
    color: #fff;
    padding-left: 10px ;
    font-size: 2rem ;
    padding-top: 5px ;
}
.section-h2-content span {
    color: rgb(193, 123, 50) ;
    font-size: 2.1rem ;
}
.about-main {
    height: 70vh ;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    flex-wrap: wrap ;
}
.about-img {
    padding: 2rem ;
  }
.yash-img {
    height: 400px ;
    width: 300px ;
    /* hehe it's temporary <FLOOD> */
    border: 2px solid #000 ;
    border-radius: 5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    filter: grayscale(0);
    transition: 0.3s;
    cursor: pointer;
}
.yash-img:hover {
    filter: grayscale(20%);
}
.about-content  {
    height: 55vh ;
    max-width: 40vw ;
    color: #fff ;
    border-radius: 2% ;
    padding: 60px 30px 40px 30px ;
}
.about-content p {
    font-size: 1.2rem ;
    line-height: 1.4;
}
.resume-button {
    margin-top : 50px ;
}
.btn {
    padding: 1rem 3rem ;
    color: #fff ;
    border-radius: 0.5em ;
    background-color: rgb(193, 123, 50) ;
    border: 0 ;
    box-shadow: 0px 5px 10px black;
    transition: 0.3s ;
    font-size: 1.2rem ;
}
.btn i {
    margin-left: 0.3rem;
    font-size: 1.2rem;
    transition: 0.3s;
    letter-spacing: 0.1rem;
}
.resume-button .btn:hover {
    background-color: rgb(149, 92, 31) ;
  }
.resume-button .btn:hover i {
    transform: translateX(5px);
  }

/* about section media queries starts */
@media (max-width: 1140px) {
    .about-content {
        padding: 20px 30px 40px 30px ;
    }
}
@media (max-width: 800px) {
    .about-content p {
        font-size: 1.1rem ;
    }
    .resume-button {
        margin-top : 20px ;
    }
}
@media (max-width:630px) {
    .about , .main-div {
        height: 135vh ;
    }
    .about-content {
        max-width: 70vw ;
    }
    .yash-img {
        height: 320px ;
        width: 240px ;
    }
}
@media (max-width:500px) {
    .lord-icon-h2 {
        height: 40px ; width: 40px ;
    }
    .section-h2-content {
        font-size: 1.8rem ;
    }
    .section-h2-content span {
        font-size: 2rem ;
    }
    .about-content p {
        line-height: 1.3 ;
        font-size: 1rem ;
    }
    .btn {
        padding: 1rem 2rem ;
    }
}
@media (max-width:412px) and (max-height:915px) {
    .about , .main-div {
        height: 120vh ;
    }
    .about-content {
        padding: 0px 10px 10px 10px ;
    }
}
/* about section media queries ends */


/*++++++++++++++++++++++++++++*/
/*        EDUCATION           */
/*++++++++++++++++++++++++++++*/

#education {
    background-image: url("https://images.unsplash.com/photo-1484387281950-dd1de7b0df73?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
    background-size: cover ;
    height: 100vh ;
    filter: brightness(90%) ;
}
.fa-h2 {
    font-size: 2rem ;
    margin-right: 5px ;
    color: #fff ;
}
.education .box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    flex-wrap: wrap ;
    margin-top: 3vh ;
}
.education .box-container .box {
    height: 18vh ;
    width: 60vw ;
    margin-top: 3vh ;
    background-color: rgb(133, 140, 156);
    border-radius: 0.5rem ;
    display: flex;
    flex-direction: row ;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 0.2s;
}
.education .box-container .box:hover {
    transform: scale(1.05) ;
    box-shadow: 10px 20px 30px rgb(0,0,0,0.5) ;
}
.education .box-container .box .image {
    flex: 1 1 20rem;
    width: 100%;
}
.education .box-container .box .image img {
    /* width: 300px ; */
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
}
.education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 1 1 70rem;
}


/* education media queries starts*/

/* education media queries ends*/




/*++++++++++++++++++++++++++++*/
/*          SKILL             */
/*++++++++++++++++++++++++++++*/


#skill {
    /* background-color: #192841 ; */
    background-image: url("https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80") ; 
    background-size: cover ;
    height: 100vh ;
}

.skill .box-container  {
    min-height: 70vh ;
    margin-top: 3vh ;
    display: flex;
    justify-content: center ;
    align-items: center ;
}

.skill-set {
    max-height: 60vh ;
    min-height: 40vh ;
    width: 80vw ;
    background-color: rgb(28, 30, 28, 0.8) ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0 ;
}

.tech-stack {
    margin: 10px 30px 10px 20px ;
}
.tech-stack img {
    width: 70px ;
}
.tech-stack img:hover {
    transform: scale(1.1);
}

/* education media queries starts */
@media (max-width: 700px) {
    .tech-stack {
        width: 60px ;
        height: 60px ;
    }
}
@media (max-width: 380px) {
    .tech-stack {
        margin: 10px 10px 10px 20px ;
    }
    .tech-stack img {
        width: 60px ;
    }
    .tech-stack img:hover {
        transform: none ;
    }
}
/* education media queries ends  */
